.pager.active {
    border-color: #1890ff;
    color: #1890ff;
}

.pager {
    width: 32px;
    height: 32px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    display: inline-block;
    margin-right: 6px;
    line-height: 32px;
    text-align: center;
    color: rgba(0,0,0,.85);
    cursor: pointer;
}