.table {
  width: 100%;
  height: 600px;
  background-color: #eee;
  border: 1px solid #000;
  border-collapse: collapse;
  border-spacing: 0;
}
.table .head-tr {
  height: 60px;
  line-height: 60px;
}
.table .head-tr .head-th {
  border-right: 1px solid #000;
}
.table .head-tr .head-th:hover {
  cursor: pointer;
}
.table .body-tr .body-td {
  border-top: 1px solid #000;
  border-right: 1px solid #000;
}
